PG_PORT=5432

# DB
PG_NAME=life_balance_db

# Root user for admin/migration
PG_ROOT_USER=postgres
PG_ROOT_PASS=postgres_pass

# App user
PG_LB_USER=app_user
PG_LB_PASS=app_pass

PG_HOST=localhost

AUTH_PORT=8080
AUTH_REALM=luppol

AUTH_ADMIN=admin
AUTH_ADMIN_PASSWORD=admin

PG_AUTH_USER=auth_app_user
PG_AUTH_PASS=auth_app_pass

LB_PORT=3000
