PG_PORT=5432

# DB
PG_NAME=life_balance_db

# Root user for admin/migration
PG_ROOT_USER=postgres
PG_ROOT_PASS=postgres_pass

# App user
PG_USER=app_user
PG_PASS=app_pass

PG_HOST=localhost

JWT_SECRET=jwt_secret